$primaryColor: #E6D1B4; 
$secondaryColor: #EEA00F;
$accentColor: #2F9CA1;
$greyColor: #533946;
$backgroundcolor: #181A27;
$whitecolor: white;


$defaultFont: "Newsreader", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;